/* @theme lecture */

@import "gaia";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
  --color-background: #fff;
  --color-foreground: #2b2b2a;
  --color-highlight: #219ebc;
}

header {
  background-color: #219ebc;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  padding-top: 15px;
  padding-left: 40px;
  height: 12%;
}

section {
  font-family: "Noto Sans JP", sans-serif;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: flex-start;
  font-size: 30px;
}  

section.right_img > ul {
  width: 35%;

}

section.large_text {
  font-size: 40px;
  padding-top: 120px;
  padding-left: 60px;
}

footer {
  height: 80%;
  margin-bottom: 35px;
}

footer img {
  max-height: 100%;
  max-width: 700px;
  float: right;
  margin-right: 30px;
}

section.wide_img>footer {
  height: 90%;
  margin-top: 15%;
  padding-top: 13%;
  display: flex;
}

section.wide_img>footer img {
  max-height: 100%;
  width: 1100px;
  float: left;
  margin-left: 50px;
  max-width: 1100px;
}

section.right_img>ul {
  width: 35%;

}

section.thin_right_img > ul {
  width: 50%;
}

section.thin_right_img > footer {
  height: 80%;
  margin-bottom: 35px;
}

section.thin_right_img > footer img {
  max-height: 100%;
  max-width: 500px;
  float: right;
  margin-right: 30px;
}


section.thin_img > ul {
  width: 55%;
}

section.thin_img > footer img {
    max-height: 200%;
    max-width: 800px;
    float: right;
    margin-top: 50px;
    margin-right: 40px;
}

section.bottom_img > footer {
  height: 90%;
  margin-top: 10%;
  margin-bottom: 60px;
  vertical-align: auto;
}

section.bottom_img > footer img {
  max-height: 200%;
  width: 1100px;
  float: left;
  margin-left: 50px;
  max-width: 1100px;
}

section.thin_bottom_img>footer {
  height: 90%;
  padding-top: 30%;
}

section.thin_bottom_img>footer img {
  max-height: 100%;
  display: flex;
  float: left;
  margin-left: 50px;
  max-width: 1100px;
}

section.md_bottom_img > footer {
  height: 91%;
  margin-top: 10%;
  padding-top: 10%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

section.md_bottom_img > footer img {
  max-height: 110%;
  max-width: 1000px;
}

section.sm_bottom_img > footer {
  height: 80%;
  margin-top: 10%;
  padding-top: 10%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

section.sm_bottom_img > footer img {
  max-height: 100%;
  max-width: 1000px;
}

section.tiny_bottom_img>footer {
  height: 70%;
  margin-top: 10%;
  padding-top: 10%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

section.tiny_bottom_img>footer img {
  max-height: 100%;
  max-width: 1000px;
}

section.wide_bottom_img>footer {
    height: 75%;
    margin-top: 15%;
    padding-top: 15%;
    display: flex;
    justify-content: center;
  }

section.wide_bottom_img>footer img {
  max-height: 100%;
  width: 1100px;
  float: left;
  margin-left: 50px;
  max-width: 1100px;
}

section > div[data-marpit-advanced-background-container] {
	margin-top: 100px !important;
	width: calc(var(--marpit-advanced-background-split)) !important;
	height: calc(100% - 150px) !important;
}

section.references {
  font-size: 20px;
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 5%;
}

section.quiz > h1 {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}